<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title th:text="${product.name}"></title>
<head th:replace="common/foreCommon :: foreHeader"></head>
<body>
    <div id="workingArea">
        <div th:replace="common/foreCommon :: foreNavigator"></div>
        <div th:replace="common/foreCommon :: simpleSearch"></div>
        <!-- 产品业务页面 -->
        <div th:replace="include/fore/product/productPage :: #html"></div>
        <div th:replace="common/foreCommon :: #loginModal"></div>
        <div th:replace="common/foreCommon :: footer"></div>
    </div>
</body>
</html>