<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>评价 - tmall.com-理想生活上天猫</title>
<head th:replace="common/foreCommon :: foreHeader"></head>
<body>
    <div id="workingArea">
        <div th:replace="common/foreCommon :: foreNavigator"></div>
        <div th:replace="common/foreCommon :: simpleSearch"></div>
        <!--商品评价业务业务页面-->
        <div th:replace="include/fore/shopping/reviewPage :: #html"></div>
        <div th:replace="common/foreCommon :: footer"></div>
    </div>
</body>
</html>