<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>请求出错-400</title>
    <link rel="icon" th:href="@{/img/icon/favicon.ico}" type="image/x-icon" />
    <style type="text/css">
        div {
            text-align:center;
            font-size:16px;
            line-height:30px;
            color:#333333;
        }
        a {
            text-align:center;
            color:#333; font-size:13px;
            text-decoration:none; width:100px;
            height:32px; line-height:32px;
            border:1px solid #E3E2E8;
            display:block; margin:30px auto;
        }
    </style>
</head>
<body>
<div class="newContent">
    <p><br/></p><p><br/></p><p><br/></p>
    <p style="text-align:center;"><img th:src="@{/img/error/pageNotFound.png}"></p>
    <div>很抱歉，没有找到您访问的页面！</div>
    <div>请仔细检查您输入的网址是否正确。</div>
    <a th:href="@{/foreHome}">返回首页</a>
</div>
</body>
</html>